h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}
/* colormind.io */

*, 
*::after,
*::before {
    /* this makes the box not include extra size when adding "padding" */

    box-sizing: border-box;
}

:root {
    --page-padding: 1.2rem 10rem;
    --gap: 1rem;
    --padding: 1.2rem;
    --border-radius: 5px;

    /* COLORS */
    --light-shades: #bdb4bd;
    --main-brand: #877a84;
    --dark-accent: #642F44;
    --dark-shades: #110714;

}

@media screen and (max-width: 768px) {
    :root {
        --page-padding: 1rem 2rem;
    }
    .navbar-container {
        flex-direction: column;
        gap: var(--gap)
    }

    .navbar-links-container {
        flex-direction: column;
    }
}